a{
    color: inherit;
    text-decoration: none;
    }
header{
    
    background-color: #c70039;
    color: ivory;
}
header h1{
    float: left;
    padding: 10px;

}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 10px 0 10px 11px;
    display: inline-block;
}
.container{
    width: 80%;
    margin: 0 auto;
    clear: both;
}
.container:after {
    content: '';
    display: block;
    clear: both;

}
.section{
    padding: 10px 0;
    
}
.box{
    background-color:#fff;
    border: 1px solid;
    padding: 15px;
    box-sizing: 15px;
    box-sizing: border-box;
    margin: 10px 0;
}
